body {
  background-color: black;
}

split-page {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-gap: 20px; 
  height: 100vh; 
}

.section {
  padding: 20px;
  background-color: #302121;
}
